$tab-size: 780px;

.section {
  justify-content: center;
}

.link {
  height: 40px;

  padding: 0px 16px;

  border-radius: 4px;
  background: #212329;

  font-weight: 600;
  font-size: 18px;

  transition: 0.3s;

  &:hover {
    color: #00b06e;
    svg path {
      fill: #00b06e;
    }
  }

  svg {
    margin-right: 9.5px;
    path {
      transition: 0.3s;
    }
  }
}
