:host {
  display: grid;
  row-gap: 120px;
}

footer {
  display: grid;
  row-gap: 16px;
  text-align: center;
  > :last-child {
    margin-top: 32px;
  }
}

* {
  color: #aaaaaa;
  font-weight: 500;
}

.copyright {
  font-size: 18px;
  line-height: 22px;
}

.links {
  display: grid;
  justify-content: center;
  gap: 12px;
  grid-auto-flow: column;

  @media screen and (max-width: 780px) {
    grid-auto-flow: row;
  }

  &__item {
    font-size: 16px;
    line-height: 20px;
    transition: 0.3s;
    text-decoration: underline;
    &:hover {
      color: #00b06e;
    }
  }
}

.contacts {
  display: grid;
  gap: 12px;
  &__body {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 12px;
    @media screen and (max-width: 780px) {
      grid-auto-flow: row;
    }
  }

  &__link {
    font-size: 16px;
    line-height: 20px;
    transition: 0.3s;
    text-decoration: underline;
    &:hover {
      color: #00b06e;
    }
  }
}

#designed {
  font-size: 16px;
  line-height: 20px;
  a {
    color: #3c84e8;
    &:hover {
      text-decoration: underline;
    }
  }
}
