<app-contacts></app-contacts>
<footer>
    <p class="copyright">S-Pirates. All rights reserved</p>
    <div class="links">
        <a routerLink="user_agreement" class="links__item">User agreement</a>
        <a routerLink="privacy" class="links__item">Privacy Policy</a>
        <a routerLink="refund_dispute" class="links__item">Refund and dispute policy</a>
    </div>

    <div class="contacts">
        <span class="contacts__title">Contacts:</span> 
        <div class="contacts__body">
            <a href="mailto:spirates.clients@gmail.com" class="contacts__link">spirates.clients@gmail.com</a>
            <a href="tel:+447458159641" class="contacts__link">+44 7458 159641</a>
        </div>
    </div>

    <p id="designed">Designed by <a href="https://cactusweb.io/" rel="noopener" target="_blank">CactusWeb</a></p>

</footer>