<header class="bg-response">
  <span class="anchor" id="home"></span>
  <app-navbar></app-navbar>

  <div class="content main">
    <h1 class="main__title cocogoose">
      Digital Platform about <br />
      <span class="underline cocogoose"> limited edition releases </span>
    </h1>

    <p class="main__description">
      Digital platform based on a private Discord server that provides unique
      information and detailed guides on where and how to purchase limited
      edition collectibles as new releases of sneakers or clothing and items.
      <br />
      <br />
      Members receive automatic notifications about new releases with analysis
      and price predictions,  which allows members to buy first a new release
      with limited stock before it sells out. Platform also includes a community
      where members chat and share experiences.
    </p>

    <a
      class="btn-primary"
      href="https://dash.spirates.io/purchase?password=purchase"
    >
      Purchase
    </a>

    <div class="img-wrapper parallax-block">
      <img
        src="/assets/img/parallax/ellipse.svg"
        class="parallaxed"
        alt=""
        style="left: 30%; bottom: -20px"
        data-speed="2"
      />
      <img
        src="/assets/img/parallax/ellipse.svg"
        class="parallaxed"
        alt=""
        style="left: -8px; top: 25px"
        data-speed="1"
      />
      <img
        src="/assets/img/parallax/plus.svg"
        class="parallaxed"
        alt=""
        style="right: 20%; bottom: -24px; transform: rotate(-35deg)"
        data-speed="2"
        transform="rotate(-30deg)"
      />
      <img src="/assets/img/server-screen.png" alt="" data-speed="-1" />
      <img
        src="/assets/img/parallax/plus.svg"
        class="parallaxed"
        alt=""
        style="left: 40%; top: -14px"
        data-speed=".3"
      />
      <img
        src="/assets/img/parallax/plus.svg"
        class="parallaxed"
        alt=""
        style="left: -4px; bottom: 24px; transform: rotate(-35deg)"
        data-speed=".2"
        transform="rotate(-35deg)"
      />
      <img
        src="/assets/img/parallax/ellipse.svg"
        class="parallaxed"
        alt=""
        style="right: 15px; top: -12px"
        data-speed="0.4"
      />
      <img
        src="/assets/img/parallax/ellipse.svg"
        class="parallaxed"
        alt=""
        style="right: 0; bottom: -13px"
        data-speed="0.8"
      />
    </div>
  </div>
</header>
