<header class="bg-response">
    <span class="anchor" id="home"></span>
    <app-navbar></app-navbar>

    <div class="content main">

        <div class="main__info">
            <h1 class="main__title cocogoose">
                All in one <br>
                <span class="underline cocogoose">
                    cooking platform
                </span>
            </h1>
            
            <p class="main__description">Discover a world of cutting-edge technology with one membership</p>

            <button class="btn-outline" disabled>Sold out</button>
        </div>


        <div class="img-wrapper parallax-block">
            <img src="/assets/img/parallax/ellipse.svg" class="parallaxed" alt="" style="left: 30%; bottom: -20px;" data-speed="2">
            <img src="/assets/img/parallax/ellipse.svg" class="parallaxed" alt="" style="left: -8px; top: 25px;" data-speed="1">
            <img src="/assets/img/parallax/plus.svg" class="parallaxed" alt="" style="right: 20%; bottom: -24px; transform: rotate(-35deg);" data-speed="2" transform="rotate(-30deg)">
            <img src="/assets/img/server-screen.png" alt="" data-speed="-1">
            <img src="/assets/img/parallax/plus.svg" class="parallaxed" alt="" style="left: 40%; top: -14px;" data-speed=".3">
            <img src="/assets/img/parallax/plus.svg" class="parallaxed" alt="" style="left: -4px; bottom: 24px; transform: rotate(-35deg);" data-speed=".2"  transform="rotate(-35deg)">
            <img src="/assets/img/parallax/ellipse.svg" class="parallaxed" alt="" style="right: 15px; top: -12px;" data-speed="0.4">
            <img src="/assets/img/parallax/ellipse.svg" class="parallaxed" alt="" style="right: 0; bottom: -13px;" data-speed="0.8">
        </div>
        

    </div>

</header>