<section class="section">
  <h2 class="section__title">
    How is the service <br />
    & access provided?
  </h2>

  <div class="section__content service">
    <p class="card card_unhovered service__description">
      Payment is accepted through the dashboard: the client follows the purchase
      link, enters email and connects to the Discord account, agrees to the user
      agreement & payment terms, and then is directed to the payment page.
      <br />
      <br />
      After payment, the client automatically gets access to the members
      dashboard and the digital platform based on the Discord server through a
      connected Discord account. In Dashboard customers can manage their
      subscription (cancel, renew, change payment method).
    </p>
  </div>
</section>
