<section class="section">
    
    <h2 class="section__title">Features</h2>

    <div class="section__content">

        <div class="card">
            <h3 class="card__title">Smooth Operation & Constant Updates</h3>
            <p class="card__description">Constant auto-updates with full operability at anytime 24/7.</p>
        </div>
        
        <div class="card">
            <h3 class="card__title">Drops Flips & Guides with Analytics</h3>
            <p class="card__description">The most relevant information about Sneakers, GPUs, Consoles.</p>
        </div>
        
        <div class="card">
            <h3 class="card__title">24/7 Support with Great Community</h3>
            <p class="card__description">1 on 1 professional & friendly support from SP Support Service.</p>
        </div>
        
        <div class="card">
            <h3 class="card__title">All included in one SP Membership</h3>
            <p class="card__description">No Extra Costs & Starting Fees. All included in one Membership.</p>
        </div>

    </div>


    <span class="anchor" id="features"></span>
</section>