<section class="section">
  <h2 class="section__title">Features</h2>

  <div class="section__content">
    <div class="col">
      <div class="card card_unhovered feature">
        <div class="feature__img-wrapper">
          <img
            src="/assets/img/features/release_info.png"
            alt=""
            class="feature__img_xl"
          />
          <img
            src="/assets/img/features/release_info-md.png"
            alt=""
            class="feature__img_md"
          />
        </div>
        <div class="feature__content">
          <h3 class="feature__title">Release information</h3>
          <p class="feature__description">
            Detailed release information, including website, date, drop time and
            price.
          </p>
        </div>
      </div>

      <div class="card card_unhovered feature">
        <div class="feature__img-wrapper">
          <img
            src="/assets/img/features/support.png"
            alt=""
            class="feature__img"
          />
        </div>
        <div class="feature__content">
          <h3 class="feature__title">Online support</h3>
          <p class="feature__description">
            Online members support through a ticket system on Discord.
          </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card_unhovered feature">
        <div class="feature__img-wrapper">
          <img
            src="/assets/img/features/monitoring.png"
            alt=""
            class="feature__img"
          />
        </div>
        <div class="feature__content">
          <h3 class="feature__title">New releases monitoring</h3>
          <p class="feature__description">
            Monitoring of new limited edition releases in Discord server.
          </p>
        </div>
      </div>

      <div class="card card_unhovered feature">
        <div class="feature__img-wrapper">
          <img
            src="/assets/img/features/price.png"
            alt=""
            class="feature__img"
          />
        </div>
        <div class="feature__content">
          <h3 class="feature__title">Price predictions</h3>
          <p class="feature__description">
            Price predictions for upcoming releases and market analysis.
          </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card_unhovered feature">
        <div class="feature__img-wrapper">
          <img
            src="/assets/img/features/notifications.png"
            alt=""
            class="feature__img"
          />
        </div>
        <div class="feature__content">
          <h3 class="feature__title">Notification system</h3>
          <p class="feature__description">
            Notification system for new releases through Discord app.
          </p>
        </div>
      </div>

      <div class="card card_unhovered feature">
        <div class="feature__img-wrapper">
          <img
            src="/assets/img/features/community.png"
            alt=""
            class="feature__img"
          />
        </div>
        <div class="feature__content">
          <h3 class="feature__title">Members community</h3>
          <p class="feature__description">
            Community of members for sharing experience and communication.
          </p>
        </div>
      </div>
    </div>
  </div>

  <span class="anchor" id="features"></span>
</section>
