main {
  display: grid;
  row-gap: 120px;
  padding: 120px 0px;
  > *:not(app-success) {
    width: 100%;
    max-width: 1200px;
    justify-self: center;
    display: grid;
  }

  @media screen and (max-width: 780px) {
    row-gap: 80px;
    padding: 40px 0px 120px;
  }
}
