$tab-size: 780px;

.section{
    // background-image: url('/assets/img/bg-success.png');
    height: 485px;
    @media screen and ( max-width: $tab-size ) {
        height: 300px;
        // background-image: url('/assets/img/bg-success-mob.png');
    }
    align-content: center;
    &__title{
        font-size: 64px;
        line-height: 77px;
        @media screen and (max-width: $tab-size) {
            font-size: 32px;
            line-height: 38px;
        }
    }

    &__description{
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        @media screen and ( max-width: $tab-size ) {
            font-size: 16px;
            line-height: 20px;
        }
    }
    row-gap: 24px;
    justify-items: center;
}

.success-card{
    background: rgba(23, 24, 28, 0.4);
    backdrop-filter: blur(10px);

    border-radius: 8px;

    padding: 24px;

    display: grid;
    row-gap: 4px;
    justify-self: center;
    align-self: center;
    text-align: center;
    justify-items: center;
    z-index: 2;
}

p{
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    @media screen and ( max-width: $tab-size ) {
        font-size: 14px;
        line-height: 17px;
    }
    z-index: 2;
}

img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    &.pc{
        @media screen and ( max-width: $tab-size ) {
            display: none;
        }
    }
    &.tab{
        @media screen and ( min-width: ($tab-size+1) ) {
            display: none;
        }
    }
}