<app-navbar></app-navbar>

<div class="policy">
  <h1>Refund policy</h1>
  <p class="important">
    S-Pirates reserves the right to determine whether a refund will be issued.
    Refunds are exclusively processed in the event of a product being sold out,
    and an additional payment has been made.
  </p>

  <div class="content">
    <div class="info-block">
      <h2>1. Refund Eligibility</h2>
      <p>1.1 Refunds are considered only for products that are sold out.</p>
      <p>1.2 Additional payments made in error are eligible for refund.</p>
    </div>

    <div class="info-block">
      <h2>2. Refund Process</h2>
      <p>2.1 Refund requests must be submitted promptly after the purchase.</p>
      <p>2.2 The decision to refund is at the discretion of S-Pirates.</p>
    </div>

    <div class="info-block">
      <h2>3. Refund Denial</h2>
      <p>
        3.1 Refunds will not be granted for reasons other than specified in this
        policy.
      </p>
      <p>
        3.2 The decision of S-Pirates regarding refund eligibility is final.
      </p>
    </div>
  </div>
</div>

<div class="policy">
  <h1>Dispute Resolution</h1>
  <p class="important">
    Disputes arising between the parties in connection with the terms of this
    Agreement will be addressed through the claims process. In the absence of a
    mutual agreement, disputes will be resolved in accordance with the terms
    outlined in the Agreement and the Offer.
  </p>
  <div class="content">
    <div class="info-block">
      <h2>1. Claims Process</h2>
      <p>
        1.1 Parties involved in a dispute must submit claims detailing the
        nature of the issue.
      </p>
      <p>1.2 Claims should be submitted promptly after the dispute arises.</p>
    </div>

    <div class="info-block">
      <h2>2. Mutual Agreement</h2>
      <p>
        The parties are encouraged to seek a mutual agreement through
        communication and negotiation.
      </p>
    </div>

    <div class="info-block">
      <h2>3. Resolution in Accordance with Agreement</h2>
      <p>
        If a mutual agreement is not reached, disputes will be resolved in line
        with the terms outlined in the Agreement and the Offer.
      </p>
    </div>

    <div class="info-block">
      <h2>4. Final Decision</h2>
      <p>
        4.1 The final decision regarding dispute resolution rests with
        S-Pirates.
      </p>
      <p>
        4.2 Parties agree to abide by the resolution determined by S-Pirates.
      </p>
    </div>

    <p class="important" style="margin-bottom: 0px">
      This Refund and Dispute Policy is an integral part of the Agreement
      between users and S-Pirates. By engaging in transactions on our platform,
      users acknowledge and agree to abide by the terms outlined in this policy.
      S-Pirates retains the right to amend this policy at its discretion with
      prior notice to users.
    </p>
  </div>
</div>
