<section class="section">
  <h2 class="section__title">Private Discord Server</h2>

  <div class="section__content dashboard">
    <img
      src="/assets/img/dashboard-illustration.png"
      alt=""
      class="dashboard__illustration"
    />

    <p class="card card_unhovered dashboard__description">
      The dashboard is used for purchasing, accessing the Discord server, and
      managing subscriptions. <br /><br />

      When making a purchase, the client links their Discord account to the
      dashboard and is automatically granted access to the digital platform
      through that Discord account. Members can cancel subscriptions, disable
      auto-renewal, and change their linked payment method through the
      dashboard. <br /><br />

      Furthermore, clients can renew their subscription for another month or
      purchase an additional month through the dashboard using their linked
      payment method.
    </p>
  </div>
</section>
