<app-navbar></app-navbar>

<div class="policy">
  <h1>Privacy policy</h1>
  <p class="important">
    Thank you for choosing to use
    <a href="https://dash.spmembership.com" class="pointer"
      >www.dash.spmembership.com</a
    >
    for your online transactions. This Privacy Policy is designed to inform you
    about the collection, use, and protection of your personal information when
    using our payment processing services.
  </p>

  <div class="content">
    <div class="info-block">
      <h2>1. Information We Collect</h2>
      <p>
        1.1 <b>Personal Information:</b> In order to process payments, we
        collect certain personal information, including but not limited to your
        name, email address, and payment details such as credit card
        information.
      </p>
      <p>
        1.2 <b>Transaction Information:</b> We may also collect information
        about your transactions on our website, including the products or
        services purchased, transaction amount, and date and time of the
        transaction.
      </p>
    </div>

    <div class="info-block">
      <h2>2. Payment Processing</h2>
      <p>
        2.1 <b>Third-Party Payment Processors:</b> We use secure third-party
        payment processors to handle payment transactions. Your payment
        information is securely transmitted to these processors, and we do not
        store your complete payment details on our servers.
      </p>
      <p>
        2.2 <b>Security Measures:</b> We implement industry-standard security
        measures to protect your payment information during transmission and
        storage. This includes encryption, secure socket layer (SSL) technology,
        and regular security audits.
      </p>
    </div>

    <div class="info-block">
      <h2>3. Use of Information</h2>
      <p>
        3.1 <b>Transaction Processing:</b> We use your personal information to
        process transactions, fulfill orders, and provide customer support
        related to your purchase.
      </p>
      <p>
        3.2 <b>Communication:</b> With your consent, we may use your email
        address to send you transaction-related information, updates, and
        promotional materials. You can opt-out of promotional emails at any
        time.
      </p>
    </div>

    <div class="info-block">
      <h2>4. Disclosure of Information</h2>
      <p>
        4.1 <b>Third-Party Service Providers:</b> We may share your information
        with third-party service providers who assist us in processing payments,
        fraud prevention, and other services related to our business operations.
      </p>
      <p>
        4.2 <b>Legal Compliance:</b> We may disclose personal information to
        comply with legal obligations or in response to lawful requests by
        public authorities.
      </p>
    </div>

    <div class="info-block">
      <h2>5. Cookies and Similar Technologies</h2>
      <p>
        We may use cookies and similar technologies to enhance your experience
        on our website. By using our website and agreeing to this Privacy
        Policy, you consent to the use of cookies.
      </p>
    </div>

    <div class="info-block">
      <h2>6. Retention of Information</h2>
      <p>
        We retain your personal information for as long as necessary to fulfill
        the purposes outlined in this Privacy Policy unless a longer retention
        period is required or permitted by law.
      </p>
    </div>

    <div class="info-block">
      <h2>7. Changes to This Privacy Policy</h2>
      <p>
        We reserve the right to update this Privacy Policy at any time. Changes
        will be posted on this page with the updated date.
      </p>
    </div>

    <div class="info-block">
      <h2>8. Contact Information</h2>
      <p>
        If you have any questions about this Privacy Policy or the processing of
        your personal information, please contact us at
        <a href="mailto:spirates.clients@gmail.com" class="point"
          >spirates.clients@gmail.com</a
        >. By using our payment processing services, you consent to the terms of
        this Privacy Policy.
      </p>
    </div>
  </div>
</div>
