.faq {
  cursor: pointer;
  &__header {
    justify-content: space-between;
    gap: 16px;
  }

  &__title,
  &__content {
    font-size: 16px;
    line-height: 19.5px;
  }

  &__title {
    font-weight: 600;
  }

  &__content {
    // @apply tw-max-w-[920px] tw-text-secondary;
    max-width: 805px;
    white-space: pre-wrap;
    color: #aaa;
    font-weight: 500;
  }

  &__btn {
    border: none;
    position: relative;
    width: 16px;
    height: 16px;

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #00b06e;
    }

    &::before {
      width: 100%;
      height: 2px;
    }

    &::after {
      width: 2px;
      height: 100%;
      transition: 0.3s;
    }

    &_expand::after {
      transform: rotate(90deg) translate(-8px, 1px);
    }
  }
}

.card {
  row-gap: 0px;
}
